.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #83B4B3;
    width: 100%;
    min-height: 50px;
    margin-bottom: 20px;
    font-size: .9rem;

  }


.nav-item {
    display: flex;
    float: left;
    padding: 0;
    margin: 0; 
    margin-right: 0.8rem;
}

.content {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-flow: column;
    flex-grow: 1;
    padding-left: 15%;
    padding-right: 15%;
}



.footer {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    
}